{% extends 'header.html' %}
{% load static %}

{% block title %}
<title>Add FIR</title>
{% endblock %}

{% block content %}
<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Add FIR Here!!</h2>
            </div>
            <div class="col-12">
                <a href="{% url 'index' %}">Home</a>
                <a href="">Add FIR</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Contact Start -->
<div class="contact">
    <div class="container">
        <div class="section-header text-center">
            <h2>ADD FIR Now!!</h2>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="contact-form">
                    <div id="success"></div>
                    {% if msg %}
                        <p style="color: green;">{{ msg }}</p>
                    {% endif %}
                    <form name="sentMessage" action="{% url 'add_fir' %}" method="POST">
                        {% csrf_token %}
                        <div class="control-group">
                            <input type="text" class="form-control" name="name" id="name" placeholder="Your Name" required />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <select name="fir_title" class="form-control" required>
                                <option value="">-----FIR Title-----</option>
                                <option value="accident">Accident</option>
                                <option value="fraud">Fraud</option>
                                <option value="robbery">Robbery</option>
                                <option value="bullying">Bullying</option>
                                <option value="cyber_crime">Cyber Crime</option>
                                <option value="other">Other</option>
                            </select>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <textarea class="form-control" name="description" id="description" placeholder="Please describe what happened with you" required></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="text" class="form-control" name="place" id="place" placeholder="Where did this happen?" required />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div>
                            <button class="btn btn-custom" type="submit">Submit FIR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->

{% endblock %}
